@import "tailwindcss";

@theme {
  --color-primary: #ee721c;
  --color-secondary: #ee721c;
}

.container {
  width: 96%;
  margin: auto;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
  background: #fff !important;
  border-radius: 100% !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  color: #000 !important;
  width: 15px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply !bg-[#f07312];
}

.swiper-button-next:hover svg,
.swiper-button-prev:hover svg {
  color: #fff !important;
}

.MuiTabs-list button {
  font-weight: 600 !important;
}

.MuiTab-root.Mui-selected {
  @apply !text-primary;
}

.MuiTabs-indicator {
  @apply !bg-primary;
}

.btn-border-o{
  border: 1px solid #ee721c !important;
  font-weight: 600 !important;
  color: #ee721c !important;
}

.btn-border-o:hover{
  background: #ee721c !important;
  color: #fff !important;
}

.hr{
  border-color: rgba(0, 0, 0, 0.2) !important;
}